In [1]:
import pandas as pd
import vectorbt as vbt
import numpy as np
from datetime import datetime
import plotly.io as pio

In [2]:
pio.renderers.default = 'browser'

In [94]:
#df = pd.read_csv("D:\SierraChart\Data\ESU4.CME [CBV][M]  1500 Volume #4_GraphData_july.txt")
#df2 = pd.read_csv("D:\SierraChart\Data\ESU4.CME [CBV][M]  2.75 Range #3_GraphData_july.txt")
#df3 = pd.read_csv("D:\SierraChart\Data\ESU4.CME [CBV][M]  15 Sec  #2_GraphData_july.txt")
#df4 = pd.read_csv("D:\SierraChart\Data\ESU4.CME [CBV][M]  3 Min  #1_GraphData_july.txt")
#df = pd.read_csv("D:\SierraChart\Data\ESM24_FUT_CME [CBV][M]  1500 Volume #4_GraphData.txt")
df = pd.read_csv("D:\SierraChart\Data\ESZ24_FUT_CME [CBV][M]  1500 Volume #4_GraphData_september.txt")

In [95]:
df.columns = df.columns.str.strip()

In [99]:
df.tail()

,Date,Time,Open,High,Low,Last,Volume,NumTrades,OHLC Avg,HLC Avg,...,Line2,Line3,Line4,Line5,Line6,Line7,Line8,Line9,TR,RTH
19274,2024-9-27,10:01:23.398002,5811.70,5813.25,5811.70,5812.44,1500,1070,5812.27,5812.46,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,0.0,752
19275,2024-9-27,10:01:48.413039,5812.07,5813.00,5811.75,5812.31,1500,998,5812.28,5812.35,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,0.0,634
19276,2024-9-27,10:02:07.105005,5812.19,5812.25,5809.75,5811.00,1500,1004,5811.30,5811.00,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,0.0,476
19277,2024-9-27,10:02:23.235000,5811.60,5811.60,5808.50,5809.88,1500,1224,5810.39,5809.99,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,0.0,444
19278,2024-9-27,10:02:45.401010,5810.74,5812.00,5809.00,5811.75,1250,986,5810.87,5810.92,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,0.0,611

In [135]:
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])
df3['Date'] = pd.to_datetime(df3['Date'])
df4['Date'] = pd.to_datetime(df4['Date'])

In [101]:
df['DateTime'] = pd.to_datetime(df['Date'].astype(str) + ' ' + df['Time'].astype(str))
df.set_index('DateTime', inplace=True)

In [130]:
df = df.loc['2024-09-17']

KeyError: "None of ['Date'] are in the columns"

In [103]:
df.head()

,Date,Time,Open,High,Low,Last,Volume,NumTrades,OHLC Avg,HLC Avg,...,Line2,Line3,Line4,Line5,Line6,Line7,Line8,Line9,TR,RTH
DateTime,,,,,,,,,,,,,,,,,,,,,
2024-09-17 00:10:49.266001,2024-9-17,00:10:49.266001,5693.45,5697.00,5693.00,5695.13,1500,1228,5694.64,5695.04,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,1.0,2124
2024-09-17 00:51:30.875003,2024-9-17,00:51:30.875003,5694.29,5699.25,5694.29,5697.63,1500,1116,5696.36,5697.05,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,1.0,2308
2024-09-17 01:23:32.125002,2024-9-17,01:23:32.125002,5695.96,5700.00,5695.96,5699.19,1500,1047,5697.77,5698.38,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,1.0,2280
2024-09-17 01:47:23.196003,2024-9-17,01:47:23.196003,5697.57,5700.50,5697.57,5699.63,1500,1186,5698.82,5699.23,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,1.0,2258
2024-09-17 02:09:59.509001,2024-9-17,02:09:59.509001,5698.60,5701.25,5698.60,5700.44,1500,993,5699.72,5700.10,...,-2500,5000,-5000,20000,-20000,0,10000,-10000,1.0,2093

In [104]:
# Sprawdzenie duplikatÃ³w w indeksie
print(df.index.duplicated().sum())

0

In [80]:
df.columns

Index(['Date', 'Time', 'Open', 'High', 'Low', 'Last', 'Volume', 'NumTrades',
       'OHLC Avg', 'HLC Avg', 'HL Avg', 'Bid Vol', 'Ask Vol', 'ECIVwap',
       'Top Band 2 of Vwap Standard Deviation',
       'Bottom Band 2 of Vwap Standard Deviation',
       'Top Band 3 of Vwap Standard Deviation',
       'Bottom Band 3 of Vwap Standard Deviation', 'Vwap extension',
       'Top band 2 extension', 'Bottom band 2 extension', 'Point of Control',
       'Value Area High Value', 'Value Area Low Value',
       'Volume Weighted Average Price', 'High.1', 'Low.1', 'High.2', 'Low.2',
       'Line1', 'Line2', 'Line3', 'Line4', 'Line5', 'Line6', 'Line7', 'Line8',
       'Line9', 'TR', 'RTH'],
      dtype='object')

In [44]:
df{[' Volume', ' Volume Weighted Average Price', ' Top Band 2 of Vwap Standard Deviation']}

SyntaxError: invalid syntax (1951154506.py, line 1)

In [81]:
df['Last']

DateTime
2024-08-28 18:00:00.000000    5639.19
2024-08-28 18:00:35.194000    5638.94
2024-08-28 18:02:11.568004    5642.38
2024-08-28 18:04:52.057001    5645.25
2024-08-28 18:08:05.622003    5641.75
2024-08-28 18:11:25.748001    5640.63
2024-08-28 18:19:05.797002    5640.44
2024-08-28 18:28:25.701000    5638.94
2024-08-28 18:40:58.127011    5632.44
2024-08-28 18:40:58.217001    5628.69
2024-08-28 18:42:10.970076    5628.38
2024-08-28 18:43:44.369001    5627.38
2024-08-28 18:46:24.819005    5628.81
2024-08-28 18:51:50.357002    5631.38
2024-08-28 19:02:37.801002    5632.56
2024-08-28 19:14:29.180004    5631.44
2024-08-28 19:28:23.150000    5631.81
2024-08-28 19:48:41.208001    5634.50
2024-08-28 20:02:14.637004    5635.19
2024-08-28 20:10:32.660001    5637.81
2024-08-28 20:17:29.202007    5640.56
2024-08-28 20:28:32.742002    5643.06
2024-08-28 20:41:46.515010    5644.06
2024-08-28 20:51:07.106005    5644.25
2024-08-28 21:09:10.047008    5643.44
2024-08-28 21:21:03.120004    5641.69
2024-08-28 21:29:59.391003    5641.38
2024-08-28 21:41:40.365001    5642.94
2024-08-28 22:06:58.401000    5642.94
2024-08-28 22:27:12.558000    5646.38
2024-08-28 22:47:35.955001    5648.94
2024-08-28 23:07:52.673002    5650.31
2024-08-28 23:36:39.313004    5650.63
2024-08-28 23:56:34.133022    5652.13
Name: Last, dtype: float64

In [105]:
close_price = df['Last']
top = df['Top Band 2 of Vwap Standard Deviation']
bot = df['Bottom Band 2 of Vwap Standard Deviation']

In [112]:
above_top = np.where((top.shift(1) > close_price.shift(1)) & (top < close_price), 1, 0)
below_top = np.where(top.shift(5) < close_price.shift(5), 1, 0)
entries = above_top
exites = below_top

[False False  True ... False False False]

In [18]:
ma10 = close_price.rolling(window=10).mean()

entries = close_price > df[' Volume Weighted Average Price']
exits = close_price < df[' Volume Weighted Average Price']

In [ ]:
rsi = vbt.RSI.run(close_price, window =[14,21])

entries = rsi.rsi_crossed_below(30)
exits = rsi.rsi_crossed_above(70)

In [113]:
pf = vbt.Portfolio.from_signals(
    close_price,
    entries,
    exites,
    )

# Analiza wynikÃ³w
print(pf.stats())

Start                         2024-09-17 00:10:49.266001
End                           2024-09-17 23:46:29.735001
Period                                               744
Start Value                                        100.0
End Value                                     100.070584
Total Return [%]                                0.070584
Benchmark Return [%]                            0.156801
Max Gross Exposure [%]                             100.0
Total Fees Paid                                      0.0
Max Drawdown [%]                                0.108979
Max Drawdown Duration                              683.0
Total Trades                                           6
Total Closed Trades                                    6
Total Open Trades                                      0
Open Trade PnL                                       0.0
Win Rate [%]                                   83.333333
Best Trade [%]                                   0.07898
Worst Trade [%]                                -0.106886
Avg Winning Trade [%]                            0.03551
Avg Losing Trade [%]                           -0.106886
Avg Winning Trade Duration                           4.6
Avg Losing Trade Duration                            5.0
Profit Factor                                   1.659542
Expectancy                                      0.011764
Name: Last, dtype: object

D:\python311\Lib\site-packages\vectorbt\generic\stats_builder.py:396: UserWarning:

Metric 'sharpe_ratio' requires frequency to be set

D:\python311\Lib\site-packages\vectorbt\generic\stats_builder.py:396: UserWarning:

Metric 'calmar_ratio' requires frequency to be set

D:\python311\Lib\site-packages\vectorbt\generic\stats_builder.py:396: UserWarning:

Metric 'omega_ratio' requires frequency to be set

D:\python311\Lib\site-packages\vectorbt\generic\stats_builder.py:396: UserWarning:

Metric 'sortino_ratio' requires frequency to be set

In [62]:
import plotly.graph_objects as go
fig = go.Figure(data=[go.Candlestick(
    x=df.index,
    open=df['Open'],
    high=df['High'],
    low=df['Low'],
    close=df['Last']
)])

# WyÅ›wietlenie wykresu
fig.show()

In [114]:
pf.plot().show()

In [ ]:
pf.

In [ ]:
def custom_indicator(close, rsi_window = 14, ma_window = 50):
    close_5m = close.resample("5T").last()
    rsi = vbt.RSI.run(close_5m, window = rsi_window).rsi
    rsi, _ = rsi.align(close, 
            broadcast_axis=0,
            method='ffill',
            join='right')

    close = close.to_numpy()
    rsi = rsi.to_numpy()
    ma = vbt.MA.run(close, ma_window).ma.to_numpy()
    trend = np.where( rsi > 70, -1, 0)
    trend = np.where( (rsi < 30) & (close < ma), 1, trend)
    return trend

ind = vbt.IndicatorFactory(
        class_name = "Combination",
        short_name = "comb",
        input_names = ["close"],
        param_names = ["rsi_window", "ma_window"],
        output_names = ["value"]
        ).from_apply_func(
                custom_indicator,
                rsi_window = 14,
                ma_window = 50,
                keep_pd=True
                )

res = ind.run(
        btc_price,
        rsi_window = 21,
        ma_window = 50
        )

print(res.value.to_string())

entries = res.value == 1.0
exits = res.value == -1.0

In [115]:
fig = pf.plot(subplots = [
    ('price', dict(
        title='Price',
        yaxis_kwargs=dict(title='Price')
        )),
    ('price', dict(
        title='Price',
        yaxis_kwargs=dict(title='Price')
        )),
    'orders',
    'trade_pnl',
    'cum_returns',],
    make_subplots_kwargs=dict(rows=10, cols=2))

In [116]:
scatter = vbt.plotting.Scatter(
        data = close_price,
        x_labels = close_price.index,
        trace_names = ["Price"],
        trace_kwargs=dict(line=dict(color='red')),
        add_trace_kwargs=dict(row=1,col=1),
        fig=fig)

top_scatter = vbt.plotting.Scatter(
        data = top,
        x_labels = top.index,
        trace_names = ["Top"],
        trace_kwargs=dict(line=dict(color='green')),
        add_trace_kwargs=dict(row=1,col=1),
        fig=fig)
bot_scatter = vbt.plotting.Scatter(
        data = bot,
        x_labels = bot.index,
        trace_names = ["Bot"],
        trace_kwargs=dict(line=dict(color='yellow')),
        add_trace_kwargs=dict(row=1,col=1),
        fig=fig)

In [49]:
vbt.settings.set_theme("seaborn")
vbt.settings['plotting']['layout']['width'] = 1200
vbt.settings['plotting']['layout']['height'] = 600

In [117]:
fig.show()

In [171]:
entries_plot = entries.vbt.signals.plot_as_entry_markers(
        slow_ma.ma,
        add_trace_kwargs=dict(row=1,col=1),
        fig=fig)

exits_plot = exits.vbt.signals.plot_as_exit_markers(
        slow_ma.ma,
        add_trace_kwargs=dict(row=1,col=1),
        fig=fig)

AttributeError: 'numpy.ndarray' object has no attribute 'vbt'

In [120]:
vbt.plot_candlestick(
    open=df['Open'],
    high=df['High'],
    low=df['Low'],
    close=df['Close'],
    volume=df['Volume']
)

AttributeError: module 'vectorbt' has no attribute 'plot_candlestick'

In [ ]:
fig.add_hline( y= 38000,
                line_color="#FFFFFF",
                row=1,
                col = 2,
                line_width=20)